---
import { marked } from 'marked';
import hljs from 'highlight.js';
import { getPosts } from './post.api';
import Layout from '@/layouts/Layout.astro';

export async function getStaticPaths() {
	const posts = await getPosts();
	return posts.map((post) => ({
		params: {
			slug: post.slug,
		},
		props: { post },
	}));
}

const { post } = Astro.props;

const postDate = new Date(post.date).toLocaleDateString('en-US', {
	year: 'numeric',
	month: 'long',
	day: 'numeric',
});

//const postImage = `url(${post.image.url})`;

const renderer = new marked.Renderer();
renderer.code = ({ text, lang }) => {
	const validLang = hljs.getLanguage(lang || 'plaintext')
		? lang || 'plaintext'
		: 'plaintext';
	const highlighted = hljs.highlight(text, { language: validLang }).value;
	return `<pre><code class="hljs ${validLang}">${highlighted}</code></pre>`;
};
const postContent = marked(post.content || '');

marked.setOptions({ renderer });
---

<Layout>
	<article>
		<h1>{post.title}</h1>
		<p><strong>Date:</strong> {postDate}</p>
		<img src={post.image.url} alt={post.image.name} width="800" />
		<p><strong>Summary:</strong> {post.summary}</p>
		<div>
			<strong>Content:</strong>
			<div set:html={postContent} />
		</div>
	</article>
</Layout>
